body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(128, 62, 62);
    padding: 10px;
    border-radius: 10px;
    scale: 1.5;
}

input {
    width: 200px;
    font-size: 3rem;
    background-color: hsla(0, 0%, 80%, 0.651);
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: right;
}

.opperand {
    background-color: hsl(44, 100%, 55%);
}

.opperand:hover {
    background-color: hsl(44, 100%, 70%);
}

.opperand:active {
    background-color: hsl(44, 100%, 85%);
}

.button {
    background-color: hsl(0, 0%, 57%);
}

.button:hover {
    background-color: hsl(0, 0%, 63%);
}

.button:active {
    background-color: hsl(0, 0%, 70%);
}

.functional {
    background-color: hsl(0, 0%, 39%);
}

.functional:hover {
    background-color: hsl(0, 0%, 44%);
}

.functional:active {
    background-color: hsl(0, 0%, 50%);
}

.buttons {
    display: flex;
    flex-direction: column;
}

button {
    font-size: 2rem;
    width: 50px;
    height: 50px;
    border-radius: 7px;
    color: white;
}

.topRow,.firstRow, .secondRow, .thirdRow, .fourthRow {
    display: flex;
    gap: 2px;
}

#zero{
    flex:1;
}

.plusOrMinus {
    font-size: 1.7rem;
}

#equals {
    background-color: hsl(44, 100%, 55%);
}

#equals:hover {
    background-color: hsl(44, 100%, 70%);
}

#equals:active {
    background-color: hsl(44, 100%, 85%);
}